[submodule "Blueberry-Engine/vendor/spdlog"]
	path = Blueberry-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blueberry-Engine/vendor/GLFW"]
	path = Blueberry-Engine/vendor/GLFW
	url = https://github.com/frankev6/glfw
[submodule "imgui"]
	path = imgui
	url = https://github.com/TheCherno/imgui
[submodule "Blueberry-Engine\\vendor\\glm"]
	path = Blueberry-Engine\\vendor\\glm
	url = https://github.com/g-truc/glm
